/* DESKTOP VIEWPORT */
html, body {
  margin: 0;
  height: 100%;
  overflow: auto; 
  overflow-x: hidden; /* OK to keep to prevent horizontal scrolling */
  overflow-y: auto;/* Allow the whole page to scroll */
}

body {
  overflow-x: hidden; 
  

  /* Prevent horizontal scrolling on the whole page */
    
  
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}



.product-gallery {
  display: inline-block;
  padding-top: 40px;
  align-items: center;
}

/* Ensure the gallery takes up a specific portion of the width */
.product-details {
  /* Adjust the minimum width as needed */
  padding-bottom: 10px;
  padding-top: 50px;
  width: 100%;
  padding-left: 30px;
  flex-direction: column;
  justify-content: center;

}
.carousel_container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
 
 
}

.carousel_navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  list-style: none;
 
}

.carousel_navigation li {
  margin: 0 5px;
}

.carousel_navigation a {
  display: block;
}

.navigation_image {
  width: 60px; /* Adjust size as needed */
  height: auto;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.carousel_navigation a.active .navigation_image {
  border-color: #333; /* Highlight color for active image */
}



.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.carousel {
  padding-left: 50px;
 padding-top: 30px;
  height: 100%; /* Full viewport height */
  overflow: hidden; /* Hide overflow to only show the carousel */
  position: relative;
   /* Ensure slides are inline */
  scrollbar-width: thin; /* Firefox */
}





.carousel_slides {

display: inline-block;
 width: 400px;
 overflow-y: auto; 
 height: 400px;/* Set height large enough to allow scrolling */

}

.carousel_image_container{
  min-width: 100%;
   height: auto;
}
.carousel_image {
  display: block; /* Remove any extra space around the image */
  flex-direction: column;
  width: 100%; /* Set desired maximum width */
 
  height: auto; /* Maintain aspect ratio */

}
.carousel_slide.active {
  display: block; /* Show only active slide */
}



.gallery-sidebar {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-basis: 0%;
}

.gallery-main {
  display: flex;
  min-width: 240px;
  padding-top: 16px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  justify-content: start;
  width: 618px;
  max-width: 618px;
  font: 500 16px/1 Roboto, sans-serif;
}



.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}



.product-title {
  margin-top: 4px;
  text-align: start;
  width: 100%;
  color: #121212;
  font: 700 32px/36px Dosis, sans-serif;
}


.product-options {
  display: flex;
  margin-top: 17px;
  padding-bottom: 24px;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-type{
  align-items: start;
}

#product-type-image{
  align-items: start;
}

#product-type-text{
  text-align: left;
}

.option-container {
  display: flex;
  min-width: 240px;
  width: 100%;;
  flex-direction: column;
  justify-content: start;
  flex: 1;

}


.option-title {
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: -0.05px;
  font: 500 16px/1 Roboto, sans-serif;
}

.option-link{
  text-decoration: none;
  display: flex;
}


.tea-bag{
  padding-top: 10px 
}
.option-buttons {
 align-items: center;
 padding: 5px;
 /* Add spacing between the buttons */
}
.option-button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  border-color: #121212; /* Darker border on hover */
  cursor: pointer;
}

.option-button, .option-button-selected {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  display: flex;
  min-height: 40px;
  width: 100%;

  padding: 12px 44px;
}

.option-button-selected {
  border: 1px solid #121212;
  gap: 20px;
  justify-content: space-between;
  padding: 8px 5px 8px 44px;
}




.icon-container {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 24px;
  flex-direction: column;
  justify-content: start;
  left: 425px;
  right: 1px;
  top: 12px;
  bottom: 8px;
}

.icon-wrapper {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.product-image {
  display: flex;
  max-width: 100%; /* Set desired maximum width */
  height: auto; /* Set desired maximum height */
 /* Maintain aspect ratio */
  object-fit: contain; 
}


/* Cards carousel */
/* Ensure the container uses Flexbox to align items side by side */


.product-description{
  width: 100%;
}



/* For phones */
@media (max-width: 491px) {

  /* Product info (first in order) */
.row{
  display: inline-flex;
}

.product-gallery{
  padding-top: 3px;
}

  /* Product gallery (second in order) */
  .product-details {
    padding-top: 1px;
    padding-left: 1px;
    display: inline-block;
    order: 1; /* Moves the product gallery below product info */
    width: 100%;
  
  }
.product-info{
 display: flex;
 flex-wrap: wrap;
 padding: 1px 33px;
}
  /* Carousel container (third in order) */
  .carousel_container {
    order: 0; /* Moves carousel to the bottom */
    flex-direction: column;
    align-items: center;

  }

  .carousel{
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50%;
  }

  .carousel_image {
    display: block; /* Remove any extra space around the image */
    width: 100%; /* Set desired maximum width */
    height: 100px; /* Maintain aspect ratio */
  
  }

  .carousel_slides {
     max-height: 400px;
     overflow-y: hidden;
  }

  .carousel_navigation {
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: center;
  
   
  }

  #carousel-navigation{ 
    flex-direction: row ;
    padding-top: 0;
    padding-left: 0;
  }

  .navigation_image {
    width: 50px;
  }

  .product-title {
    font-size: 20%;
    margin: 10px 0;
  }

  #product-title {
    text-align: left;
    font-size: 28px;
    width: 100%; /* or a specific value if needed */
    overflow-wrap: break-word; /* For older browser compatibility */
    white-space: normal;
}


  .option-buttons {
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }
 

  .product-description {
    margin: 10px 0;
  }

  #product-description {
    
      text-align: left;
      font-size: 10px;
      width: 100%;
      overflow-wrap: break-word;
      white-space: normal;
  }

  .option-title {
    white-space: normal;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: -0.05px;
    font: 500 16px/1 Roboto, sans-serif;
  }

  .option-button {
    width: 100%;
    flex-direction: row;
    
  }
}

/* For tablets */
@media (max-width: 991px) {
  /* Product info (first in order) */

  .row {
   display: flex;
   flex-direction: column;
  }

  /* Product gallery (second in order) */
  .product-gallery {/* Moves the product gallery below product info */
    width: 100%;
    padding-top: 3px;
    flex-shrink: 0;
  }


 
  /* Carousel container (third in order) */
  .carousel_container {

    flex-direction: column;
    align-items: center;
  }


  .carousel_image {
    display: block; /* Remove any extra space around the image */
    flex-direction: column;
    width: 100%; /* Set desired maximum width */
    /* Set desired maximum height */
    /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
  
  }

  .carousel_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }

  #carousel-navigation{
    flex-direction: row;
  }



}


