/* DESKTOP VIEWPORT */
html, body {
  margin: 0;
  height: 100%;
  overflow: auto; 
  overflow-x: hidden; /* OK to keep to prevent horizontal scrolling */
  overflow-y: auto;/* Allow the whole page to scroll */
}

body {
  overflow-x: hidden; 
  

  /* Prevent horizontal scrolling on the whole page */
    
  
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}


 /* LEFT SIDE  */
.product-gallery {
  display: inline-block;
  padding-top: 40px;
  align-items: center;
}

/* Carousel NAVIGATION styles */
.carousel_container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
 
 
}
.carousel_navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  list-style: none;
 
}

.carousel_navigation l, .carousel_navigation a{
  margin: 0 5px;
  display: block;
}


.navigation_image {
  width: 60px; /* Adjust size as needed */
  height: auto;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.carousel_navigation a.active .navigation_image {
  border-color: #333; /* Highlight color for active image */
}




/* CAROUSEL STYLES */
.carousel {
  padding-left: 50px;
 padding-top: 30px;
  height: 100%; 
  overflow: hidden; 
  position: relative;

  scrollbar-width: thin; 
}

.carousel_slides {

  display: inline-block;
   width: 400px;
   overflow-y: auto; 
   height: 400px;
  
  }
  
  .carousel_image_container{
    min-width: 100%;
     height: auto;
  }
  .carousel_image {
    display: block; 
    flex-direction: column;
    width: 100%; 
    height: auto; 
  
  }
  .carousel_slide.active {
    display: block; 
  }
  /* RIGHT SIDE STYLES */
.product-details {
  padding-bottom: 10px;
  padding-top: 50px;
  width: 100%;
  padding-left: 30px;
  flex-direction: column;
  justify-content: center;

}

.product-type, .product-title, .product-description, .option-buttons, .option-container{
  padding: 0.01em 16px;
  padding-top: 0.01em;
  padding-right: 16px;
  padding-bottom: 0.01em;

}

.option-container{
  justify-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.product-info {
  justify-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.product-title {
  margin-top: 4px;
  text-align: start;
  width: 100%;
  color: #121212;
  font: 700 32px/36px Dosis, sans-serif;
}

.product-options {
  display: flex;
  margin-top: 17px;
  padding-bottom: 24px;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-type{
  align-items: start;
}


.icon-container {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 24px;
  flex-direction: column;
  justify-content: start;
  left: 425px;
  right: 1px;
  top: 12px;
  bottom: 8px;
}

.icon-wrapper {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

#product-type-image{
  align-items: start;
}

#product-type-text{
  text-align: left;
}


#product-description{
  width: 100%;
  text-align: left;
}

.option-title{
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: -0.05px;
  font: 500 16px/1 Roboto, sans-serif;
}

.option-link{
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
.option-buttons{
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: row;
}

.tea-bag, .tea-book{
  flex: 1;
  width: 100%;
  padding: 3px;
    
}

.option-button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  border-color: #121212; /* Darker border on hover */
  cursor: pointer;
}


.option-button, .option-button-selected {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  display: flex;
  width: 100%;
  white-space: normal;
  justify-content: center;
  min-height: 40px;
  padding: 12px 44px;
}

.option-button-selected {
  border: 1px solid #121212;
  gap: 20px;
  justify-content: space-between;
  padding: 8px 5px 8px 44px;
}



/* For phones */
@media (max-width: 491px) {

  /* Product info (first in order) */
.row{
  display: inline-flex;
  width: 100%;
  min-height: fit-content;

}

.product-gallery{
  padding-left: 3px;
  padding-right: 3px;
}

  /* Product gallery (second in order) */
  .product-details {
    padding-top: 0%;
    padding-left: 1px;
    display: inline-block;
    order: 1; /* Moves the product gallery below product info */
    width: 100%;
  
  }
.product-info{
 display: flex;
 flex-wrap: wrap;
 padding-top: 0;
}
  /* Carousel container (third in order) */
  .carousel_container {
    order: 0; /* Moves carousel to the bottom */
    flex-direction: column;
    align-items: center;

  }

  .carousel{
    padding-left: 0;
    padding-top: 5px;
    height: 50%;
  }

  .carousel_image {
    display: block; /* Remove any extra space around the image */
    width: 100%; /* Set desired maximum width */
    height: 100px; /* Maintain aspect ratio */
  
  }

  .carousel_slides {
     max-height: 400px;
     overflow-y: hidden;
  }

  .carousel_navigation {
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: center;
  }

  #carousel-navigation{ 
    flex-direction: row ;
    padding-top: 0;
    padding-left: 0;
  }

  .navigation_image {
    width: 50px;
  }
  .product-title {
    padding: 2px 0;
    font-size: 2em;
    font-weight: 200;
    line-height: 1.2; /* Adjust line height for better spacing */
    color: rgba(0, 0, 0, 0.9) !important;
    word-wrap: break-word; /* Ensure long words wrap properly */
    overflow-wrap: break-word; /* Support for long words breaking */
    white-space: normal; /* Allow text to wrap normally */
    font-family: 'HelveticaNowTextMid'; /* Apply font-family correctly */
  }
  
  
  
  @font-face {
    font-family: 'HelveticaNowTextMid';
    src: url(/fonts/helvetica-text/HelveticaNow-Text-Mid.ttf);
  }
  
  .product-type, .product-title, .product-description, .option-title{
    padding: 0.01em 16px;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
  }

  .option-buttons{
    justify-items: flex-start;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: row;
  }

  .tea-book, .tea-bag{
    flex: 1;
  width: 100%;
  padding: 3px;
    

  }
.option-link{
  display: block;

}
  .option-button{
    padding: 10px 4px 0 5px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    min-height: 40px;
    padding: 4px 8px;
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 !important;
  }


  .product-description {
    margin: 10px 0;
  }

  #product-description {
    
      text-align: left;
      font-size: 10px;
      width: 100%;
      overflow-wrap: break-word;
      white-space: normal;
  }

  .option-title {
    
    white-space: normal;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: -0.05px;
    font: 500 16px/1 Roboto, sans-serif;
  }


  
  

  
}

/* For tablets */
@media (max-width: 991px) {
  /* Product info (first in order) */

  .row {
   display: flex;
   flex-direction: column;
  }

  /* Product gallery (second in order) */
  .product-gallery {/* Moves the product gallery below product info */
    width: 100%;
    padding-top: 3px;
    flex-shrink: 0;
  }


 
  /* Carousel container (third in order) */
  .carousel_container {

    flex-direction: column;
    align-items: center;
  }


  .carousel_image {
    display: block; /* Remove any extra space around the image */
    flex-direction: column;
    width: 100%; /* Set desired maximum width */
    /* Set desired maximum height */
    /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
  
  }

  .carousel_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }

  #carousel-navigation{
    flex-direction: row;
  }



}


