/* Global CSS */
body {
  font-family: HelveticaNowText, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Arial, Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

/* Text Styles */
/* .my-class {
  font-size: 24px;
  font-weight: bold;
  color: #333;
} */

/* Slider Styles */
/* .slider-full-width {
    width: 100%;
    overflow: visible;
} */

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Background Image Styles */
.background-image-container {
  position: relative;
  width: 100%;
}

.background-image img {
  width: 100%;
  height: auto;
}

/* Homepage Wrapper */
.homepage-wrapper {
  width: auto;
}

.image-wrapper-add-to-your-library-of-teaware {
  position: absolute;
  width: 100%;
}

/* Image Wrapper */
.image-wrapper {
  position: relative;
  width: 100%;
}

/* Content Overlay */
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

/* Text Styles for Content */
.copyContent {
  text-align: center;
}

.h4 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  font-family: HelveticaNowDisplay, Dosis, sans-serif;
}
.p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.box-text {
  font-size: 16px;
}

.text-dark {
  color: #333;
}

.text-white {
  color: #fff;
}

.titleClass {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Button Container */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Button Styles */
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

.cta-button {
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;
}

.btn--primary-light {
  background-color: #ffffff;
}

.btn--primary-dark {
  background-color: #ffffff;
  color: #000000;
}
.btn--secondary-dark {
  border: 1px solid;
}
/* Responsive Styles */
@media (max-width: 767px) {
  .my-class {
    font-size: 20px;
  }

  .titleClass {
    font-size: 20px;
  }

  .btn {
    padding: 8px 16px;
  }
}

@media (min-width: 768px) {
  .my-class {
    font-size: 24px;
  }

  .titleClass {
    font-size: 24px;
  }
}

.homepage-wrapper.home-hero-short .content-overlay {
  position: absolute;
  height: 100%;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

/*  Header styles */

.header-border {
  border-bottom: 1px solid #c7c7c7;
  background-color: #121212;
  padding-top: 16px;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Ensure content is spaced out */
  flex-wrap: wrap;

}

.header-inner {
  display: flex;
  width: 100%;
  max-width: 100%; /* Let it take the full width */
  flex-direction: row; /* Change to row for wider layout */
  align-items: center;
  justify-content: space-between; /* Ensure the logo, nav, and icons are spaced out */
  padding: 0; /* Remove extra padding */
}

.header-content {
  display: flex;
  width: 100%;
  align-items: start;
  flex-wrap: wrap;
  padding: 0 29px;
}
.logo-wrapper {
  display: flex;
  min-height: 52px;
  align-items: center;
  padding: 10px 0;
}
.logo-container {
  width: 51px;
}
.logo-link {
  display: flex;
  justify-content: center;
}
.logo-image {
  aspect-ratio: 1.59;
  object-fit: contain;
  width: 51px;
}

/* NAVBAR STYLES */


.nav-container {
  background-color: #121212;
  min-height: 68px;
  
  padding-left: 16px;
}
.nav-bar-header{
    padding: 6px 3px;
    border: none;
    color: #fff;
    font-size: .75em;
    margin-right: 24px;
}

.nav-inner {

  width: auto ; 
  justify-content: flex;
  

}

.nav-menu {
  display: flex;
  width: 100%;
  align-items: center;
  height: 60%;
  
}
.menu-item {
  display: flex;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  font-family: 'HelveticaNowTextBold';
 

}
.menu-item li a {
  display: inline-block;
  text-decoration: none;
  color: hsla(0, 0%, 100%, .75);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  font-family: 'HelveticaNowTextBold';
  
}

.menu-item li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;

}

.menu-item li a:hover:after {width: 100%;}
.open-menu-item , .close-menu-item {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none; 
}
.open-menu-item {
  position: absolute;
    /* top: 50%;
    left: 20px;  
    transform: translateY(-50%);
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem; */
    display: block;  
}
.close-menu-item {

  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none; 
}
#check {display: none;}
@media(max-width: 610px){
    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 100;
      left: -10%; /* Initially hidden */
      background-color: var(--color2);
      transition: all 0.2s ease;
      
    }
 
    .menu-item li a {
      padding: 10px;
    }

    /* When the checkbox is checked (menu is open) */
#check:checked ~ .nav-inner .nav-menu {
  display: flex; /* Show the menu */
}

}
.menu-link {
  font-family: 'HelveticaNowTextBold';
  border-radius: 4px 4px 0 0;
  color: hsla(0, 0%, 100%, .75);
  padding: 16px 16px 32px;
  
  border-radius: 4px 4px 0 0;
  text-decoration: none;

}


@font-face {
  font-family: 'HelveticaNowTextBold';
  src: url(/fonts/helvetica-now/helveticanowtext-bold-demo.ttf);

}
.search-wrapper {
  flex-grow: 1; /* Allow search and icons to grow */
}
.search-container {
  display: flex;
  justify-content: flex-end;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
}
.search-inner {
  display: flex;
  justify-content: end;
  padding: 14px 0;
}
.search-form {
  position: relative;
  width: 100%;
}
.search-input {
  background: #333;
  border-radius: 8px;
  border: none;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  padding: 12px 40px 12px 16px;
  text-overflow: ellipsis;
  transition: box-shadow 0.1s ease-in-out;
  white-space: nowrap;
  height: 40px;
  /* border-radius: 8px;
  background-color: #333;
  min-height: 20px;
  width: 100%;
  color: #323;
  padding: 11px 10px 11px 16px;
  font: 50 16px Roboto, sans-serif; */
}
.search-button {
  border-radius: 8px;
  border: none;
  background: #333;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: box-shadow 0.1s ease-in-out;
  white-space: nowrap;
  position: absolute;
  width: 44px;
  right: 0;
  bottom: 0;
  padding: 7px 13px;
}
.search-icon {
  width: 14px;
  color: #323;
}

@media(max-width: 610px){
  .nav-bar-header {
    flex-grow: 10;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;

  
    background-color: var(--color2);
    transition: all 0.2s ease;
    
  }
}
.icon-wrapper {
  display: flex;
  padding-left: 16px;
  min-height: 84px;


}
.icon-container {
  width: 14px;
}
.icon-link {
  display: flex;
  align-items: center;
  
}
.icon-image {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
}
.cart-icon {
  width: 14px;
}
.Git{
    width: 20px
}
.linkedIn{
    width: 20px,

}


.flag-image {
  object-fit: contain;
  width: 20px;
}


@media (max-width: 991px) {
  .header-container,
  .header-inner,
  .header-content,
  .search-wrapper {
    max-width: 100%;
  }
}

/* Show hamburger menu */

.hamburger-menu {
    cursor: pointer;
    display: inline-block;
  }
  
  .hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #ffffff;
  }
  

  .nav-wrapper.active {
    display: block;
  }
  


/* Footer styles */

.footer {
  padding: 56px 0 0;
  background: var(--www-t-2-tea-com-cod-gray, #121212);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 1662px;
  padding-bottom: 140px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 141px;
  padding-bottom: 48px;
}

.logo-wrapper {
  display: flex;
  min-height: 84px;
  max-width: 111px;
  padding: 0 15px;
}

.logo-link {
  display: flex;
  max-width: 63px;
  padding: 4px 0 14px;
}


.logo-image {
  width: 63px;
  aspect-ratio: 1.57;
  object-fit: contain;
}

.social-section {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  color: var(--www-t-2-tea-com-cod-gray, #121212);
  text-align: center;
  font: 400 16px/1 Roboto, sans-serif;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 16px;
}

.github-icon {
  width: 44px;
  aspect-ratio: 1;
  object-fit: contain;
}

.github-link {
  
  align-self: stretch;
  border-radius: 4px;
  background: var(--www-t-2-tea-com-white, #fff);
  padding: 12px 16px;
}

.links-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--www-t-2-tea-com-white-90, rgba(255, 255, 255, 0.9));
  font: 400 14px/1 Roboto, sans-serif;
  padding: 0 0 45px 18px;
}

.links-container {
  display: flex;
  flex-direction: column;
  max-width: 125px;
  padding-left: 15px;
}

.footer-link {

}

@media (max-width: 991px) {
  .footer-container {
    padding-bottom: 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
